/* Sidebar Widget Earth Style
Style Name: WPA
Style URL: http://www.wpauctions.com/styles
Style Author: Hyder Jaffari
Author URL: http://www.weborithm.com
Get more styles at http://www.wpauctions.com/styles
Last Update: May 2nd, 2010
*/

	#TB_window *,
	#TB_window *:before,
	#TB_window *:after {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
	line-height: inherit; }

	#TB_window,
	#TB_window #wpa-description-p,
	#TB_window p,
	#TB_window button,
	#TB_window input,
	#TB_window select,
	#TB_window textarea { font-size: 12px !important; line-height: initial; }

	#TB_window table { table-layout: auto; }
	
	.auctionimages a.thickbox { border: 0; }

/* Container */
.clearfix:after { content: " "; clear: both; display: table; }
#wp-container {	font: normal 11px Verdana, Arial, Helvetica, sans-serif; color: #000; }

/* Main Body */

#wp-body { border-right: 1px solid #bab076; border-left: 1px solid #bab076; background: #fff; padding: 10px; }

/* Title */

#wp-head { font-size: 15px; font-weight: bold; text-align: center; border: 1px solid #bab076; border-bottom: none; background: #fff; padding: 10px; text-decoration: none; color: #463425; }

/* Image */

#wp-image { text-align:center; width: 125px; margin: 0 auto 10px; }
#wp-image img { width: 125px; height: 125px; border: 1px solid #bab076; background: #fff; padding: 1px; }
.wp-heading { font-weight: bold; font-size: 12px; text-align: center; padding: 4px 0; }

/* Auction Description */

#wp-desc { padding: 5px 0; }

/* RSS and 'more...' link */

.wp-more { font-style: italic; font-size: 10px; }
.wp-more a, .wp-rss a { text-decoration: none; color: #660000; }
.wp-more a:hover, .wp-rss a:hover {	text-decoration: underline;	color: #463425; }
.wp-rss { text-align: center; }

/* Date */

#wp-date { text-align: center; padding: 5px 0; }

/* Other Auctions - This stuff is !IMPORTANT */

#wp-other {	padding: 5px 0; }
#wp-other ul, #wp-other ul li ul { padding: 5px 0 5px 10px!important; margin: 5px 0px 10px !important; border-top: 1px dotted #463425 !important;	border-bottom: 1px dotted #463425 !important; background: none !important; list-style: none !important; }
#wp-other ul li, #wp-other ul li ul li { padding: 1px 0 !important; margin: 0 !important; border: none !important; background:none !important; list-style: none !important; }
#wp-other ul li a, #wp-other ul li ul li a { color: #660000 !important; text-decoration: none !important; font: normal 11px Verdana, Arial, Helvetica, sans-serif !important; background: none !important; margin: 0px !important; padding: 0px !important; border: none !important; list-style: none !important; }
#wp-other ul li a:hover, #wp-other ul li ul li a:hover { color: #463425 !important; text-decoration: underline !important; font: normal 11px Verdana, Arial, Helvetica, sans-serif !important; margin: 0px !important; padding: 0px !important; border: none !important; }

/* Bids Container */

#wp-bidcontainer { padding: 10px 7px 10px 0; background: #D3CCA3 url(gradient.png) repeat-x left bottom; border: 1px solid #463425; }
#wp-bidcontainerleft { float:left; width: 47%; text-align:center; color: #463425; font-size: 11px;	padding: 2px 0 0 2px; }
#wp-bidcontainerright { float:right; width: 45%; text-align:center; margin-right: 5px; font-size: 13px; }
#wp-bidcontainerright a { color: #000 !important; text-decoration: none !important; }

/* List Styling */

.wp-auction-hold { min-height: 57px; padding-top: 5px; }
.wp-body-list { border-right: 1px solid #bab076; border-left: 1px solid #bab076; background: #fff; padding: 6px 4px 4px; border-bottom: 1px solid #bab076; }
.wp-head-list { font-size: 15px; font-weight: bold; text-align: center; border-right: 1px solid #bab076; border-left: 1px solid #bab076; 	background: #fff url(gradient.png) repeat-x left bottom; padding: 4px; border-top: 1px solid #bab076; text-decoration: none; color: #660000; margin: 0px; }
.wp-heading-list { font-weight: bold; font-size: 12px; text-align: left; padding: 0; }
.wp-desc-list {	padding: 4px 0;	margin: 0px; }
.wp-desc-list p { padding: 0; }
.wp-bidnow-list { text-align: center; padding: 4px 0; border-bottom: 1px solid #463425; border-top: 1px solid #463425; margin: 0px 0px 6px; background: #bab076 url(gradient.png) repeat-x left bottom; color: #660000; }
.wp-bidnow-list a { text-decoration: none !important; color: #660000 !important; border: none !important; }
.wp-bidnow-list a:hover { text-decoration: underline !important; }

/* Popup Earth Style
Style Name: Earth
Style URL: http://www.wpauctions.com/styles
Style Author: Hyder Jaffari
Author URL: http://www.weborithm.com
Get more styles at http://www.wpauctions.com/styles
Last Update: May 2nd, 2010
*/

/* Modal Box*/
.TB_modal { background: #D3CBA2; }

/* Container */
#wp-container-p { background: #fff; text-shadow: #ddd7b6 0 1px !important; }

#wp-container-p a { color: #660000 !important; }
#wp-container-p a:hover, #wp-close-p:hover { color: #463425 !important; }

#wp-container-p h2 { }
#wp-container-p h3 { }

/* Header */
#wp-header-p { background: #D3CCA3 url(gradient.png) repeat-x left bottom; }
#wp-logo-p { }
#wp-close-p { color: #660000; }
#wp-close-p img { }

/* Top Area */
#wp-top-p { border: 1px solid #bab076; }
#wp-content-p { }

/* Top Image */
.wpa-image { background: #D3CCA3 url(gradient.png) repeat-x left bottom; border-right: 1px solid #bab076; }
#wp-image-p { background: #fff; }
#wp_price { border-top: 1px solid #bab076; color: #000; }
#wp-refreshbid-p, #wp-refreshbid-p a { color: #463425 !important; text-shadow: #ddd7b6 0 1px !important; }

/* Description */
.wpa-description { background: #fff; border-right: 1px solid #bab076; text-shadow: none !important; }
h3#tc-heading-p { }
#wp-description-p { }

/* Action List */
ul.wpa-details { background: #D3CBA2; margin: 0; }
ul.wpa-details li { border-bottom: 1px solid #bab076; }
ul.wpa-details li strong { }
ul.wpa-details div { border-top: 1px solid #fff; line-height: 25px !important; padding: 0 5px !important; }

#wp_winningb img { background: #fff; border: 1px solid #bab076; }

a.wpa-bin-price { background: #D3CCA3 url(gradient.png) repeat-x left -10px; border: 1px solid #bab076; }

/* Bottom Area */
#wp-bottom-p { border: 1px solid #bab076; border-top: 0; }

/* Bid Area */
#wp-bottom-p h3 { background: #BAB076; }
#wp-bottom-p h3 p { color: #463425; }
#wp-bottom-p table { border-top: 1px solid #bab076; }
#wp-bottom-p table td { padding: 8px 10px 9px !important; }
#wp-bottom-p table td p { }
#wp-bottom-p input { border: 1px solid #bab076; }
#wp-bottom-p input:focus { border-color: #463425; background: #fefdd9; }

/* Left */
#wp-left-p { border-right: 1px solid #bab076; }

/* Bid Now */
#wp-bid-p { border-top: 1px solid #bab076; }
#wp-bid-p table .wpa-currency { }
#wp-bid-p input { border: 1px solid #bab076; }
#wp-bid-p table td { }
p#bidnow { background: #D3CCA3 url(gradient.png) repeat-x left bottom; border: 1px solid #463425; }
p#bidnow a { color: #000 !important; }

#wp-extrainfo { }
#wp-extrainfo:before { }

/* Bids/Other Auctions */
.wpa-tabs { background: #fff; float: left; padding: 1px 0; width: 375px; text-shadow: none !important; }
	
ol.wp-detailsbidders-p { }
ol.wp-detailsbidders-p li { color: #463425; }
ol.wp-detailsbidders-p li:hover { color: #000; }
.pane-bids { }

/* Tabs */
.wpa-tabs { }
.wpa-tabs ul { }
	
.wpa-pane { background: #fff; border-top: 1px solid #bab076; }
.wpa-pane p { }

ul.wpatabs { background: #BAB076; border-bottom: 1px solid #fff; }
	
/* Single Tab */
ul.wpatabs li { background: #BAB076; border-left: 1px solid #fff; color: #463425; }
	
/* Tabs Link */
ul.wpatabs li:hover { background: #bab076; color: #000; }
ul.wpatabs a:active { }
ul.wpatabs a:hover { background: #ddd; }

/* Current Tab */
ul.wpatabs li.current, ul.wpatabs li.current:hover, ul.wpatabs li.current { background: #bab076; color: #000; }

/* Other Auctions */
.pane-other { }
ul#wp-othercontainer-p { }
ul#wp-othercontainer-p li { background: #fff; }
ul#wp-othercontainer-p li p { }
ul#wp-othercontainer-p li p.wpa-other-title { }
ul#wp-othercontainer-p li img { background: #fff; border: 1px solid #bab076; }
ul#wp-othercontainer-p li:hover { background: #f9f9f9; }

#wp-powered-p { color: #bab076; }
#wp-powered-p a { color: #bab076 !important; }

/* AUCTION IN A POST */

.wpauction { background: #fff !important; border-top: 1px solid #463425 !important; color: #000 !important; font: normal 0.9em Verdana !important; padding-bottom: 15px !important; }
.wpauction a { color: #0066FF !important; }
.wpauction a:hover { color: #0033CC !important; text-decoration: none !important; }
.wpauction h3, .wpauction h6 { font: normal 17px Verdana !important; text-align: center !important; padding: 5px !important; margin: 0 !important; text-transform: capitalize !important; text-shadow: none;  }

/* Headings */

.wpauction h3 { border-bottom: 1px solid #463425 !important; margin-bottom: 15px !important; }

/* Images */
	
.auctionimages { padding: 5px !important; margin-bottom: 5px !important; text-align: center !important; }
.auctionimages img { background: #fff !important; border: 1px solid #463425 !important; display: inline !important; margin: 0 10px !important; padding: 1px !important; }

/* Description */

.auctiondescription { /* custom styles can come here */ padding: 5px 5px 0; !important; border-bottom: 1px solid #463425 !important; }
.auctiondescription p { color: #000 !important; }
.auctiondescription ul { background: none !important; border: 0 !important; list-style: disc !important; margin: 0 0 10px 20px !important; }
.auctiondescription ul li { background: none !important; border: 0 !important; font-size: 13px !important; margin: 0 !important; padding: 5px 0 !important; }
.auctiondescription ol { margin: 0 0 10px 20px !important; }

p.current-bid, p.refresh { background: #bab076 !important; border-bottom: 1px solid #463425 !important; text-align: center !important; font-size: 1.3em !important; color: #000 !important; padding: 5px !important; margin: 0 !important; }
p.refresh { font-size: 11px !important; margin-bottom: 15px !important; }
p.current-bid:hover, p.refresh:hover { cursor: default !important; }
		
/* Details */
	
.auctiondetails { /* custom styles come here */ }
.auctiondetails h6 { background: #BAB076; border: 0 !important; border-bottom: 1px solid #463425 !important; color: #000 !important; margin-bottom: 15px !important; }
.auctiondetails ul { background: none !important; border: 0 !important; list-style: disc !important; padding: 0 !important; margin: 0 25px !important; }
.auctiondetails ol { background: none !important; border: 0 !important; padding: 0 !important; margin: 0 0 0 35px !important; }
.auctiondetails li { background: none !important; border: 0 !important; font-size: 13px !important; padding: 0 0 15px !important; margin: 0 !important; }
.auctiondetails ol li { list-style: decimal !important; }
		
/* Fields and Buttons */
	
.bid-input { width: 14em !important; padding: 0.3em 0.2em !important; font-size: 0.9em !important; border: 1px solid #A7A6AA !important; letter-spacing: 1px !important; }
.bid-input[type="text"]:focus{ border: 1px solid #000 !important; }
.auction-button { padding: 0.3em 1em !important; font: normal 1em Georgia !important; background: #ddd !important; border-top: 1px solid #fff !important; border-left: 1px solid #fff !important; border-right: 1px solid #777 !important; border-bottom: 1px solid #777 !important; color: #222 !important; width: 13.1em !important; }
.auction-button:hover { cursor: pointer !important; border-top: 1px solid #333 !important; border-left: 1px solid #333 !important; border-right: 1px solid #463425 !important; border-bottom: 1px solid #463425 !important; background: #463425 !important; color: #fff !important; }

/* Tables */

.auctiontables { background: #bab076 !important; border-top: 1px solid #463425 !important; margin: 0 !important; }
.auctiontables h6 { background: none !important; border: 0 !important; color: #000 !important; }
.auctiontables p { border-top: 1px solid #463425 !important; padding: 10px !important; font-size: 11px !important; font-style: italic !important; margin: 0 !important; }
.auctiontables span { font-size: 11px !important; text-align: center !important; display: block !important; padding: 0 0 5px !important; }
.auctiontables table { background: #bab076 !important; margin: 0 !important; padding: 0 !important; border-bottom: 0 !important; border-top: 1px solid #463425 !important; }
.auctiontables td { padding: 5px 10px !important; border-bottom: 1px solid #463425 !important; text-align: left !important; font-size: 12px !important; }

/* Post/Page Tables */

.wpa-tables { border: 1px solid #463425; font-size: 12px !important; width: 100%; }
.wpa-tables th { background: #D3CCA3 url(gradient.png) repeat-x left bottom; border: 1px solid #463425; color: #660000; font-size: 13px; padding: 5px !important; }
.wpa-tables td { border: 0; border-bottom: 1px solid #463425; padding: 5px !important; }
.wpa-tables td img { background: #D3CCA3 url(gradient.png) repeat-x left bottom; display: block; margin: auto; padding: 5px; }
.wpa-tables td a { background: #D3CCA3 url(gradient.png) repeat-x left bottom; border: 1px solid #463425; color: #660000; font-weight: bold; padding: 2px 8px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.wpa-tables td a:hover { color: #463425; }


/* Theme Specific */
form#auction_form, form#auction_form div, #wp-container-p p  { margin: 0; }
#wp-container-p th, #wp-container-p td, #wp-container-p table { border: 0; }