/* WP Auctions
Style Name: Fire
Style URL: http://www.wpauctions.com/styles
Style Author: Hyder Jaffari
Author URL: http://www.weborithm.com
Get more styles at http://www.wpauctions.com/styles
Last Update: May 5th, 2010
*/

/* Container */

#wp-container {	font: normal 11px Verdana, Arial, Helvetica, sans-serif; color: #000; }

/* Main Body */

#wp-body { border-right: 1px solid #e34600; border-left: 1px solid #e34600; background: #fff; padding: 10px; }

/* Title */

#wp-head { font-size: 15px; font-weight: bold; text-align: center; border: 1px solid #e34600; border-bottom: none; background: #fff; padding: 10px; text-decoration: none; color: #463425; }

/* Image */

#wp-image { text-align:center; width: 125px; margin: 0 auto 10px; }
#wp-image img { width: 125px; height: 125px; border: 1px solid #e34600; background: #fff; padding: 1px; }
.wp-heading { font-weight: bold; font-size: 12px; text-align: center; padding: 4px 0; }

/* Auction Description */

#wp-desc { padding: 5px 0; }

/* RSS and 'more...' link */

.wp-more { font-style: italic; font-size: 10px; }
.wp-more a, .wp-rss a { text-decoration: none; color: #660000; }
.wp-more a:hover, .wp-rss a:hover {	text-decoration: underline; color: #463425; }
.wp-rss { text-align: center; }

/* Date */

#wp-date { text-align: center; padding: 5px 0; }

/* Other Auctions - This stuff is !IMPORTANT */

#wp-other {	padding: 5px 0; }
#wp-other ul, #wp-other ul li ul { padding: 5px 0 5px 10px!important; margin: 5px 0px 10px !important; border-top: 1px dotted #463425 !important;	border-bottom: 1px dotted #463425 !important; background: none !important; list-style: none !important; }
#wp-other ul li, #wp-other ul li ul li { padding: 1px 0 !important; margin: 0 !important; border: none !important; background:none !important; list-style: none !important; }
#wp-other ul li a, #wp-other ul li ul li a { color: #660000 !important; text-decoration: none !important; font: normal 11px Verdana, Arial, Helvetica, sans-serif !important; background: none !important; margin: 0px !important; padding: 0px !important; border: none !important; list-style: none !important; }
#wp-other ul li a:hover, #wp-other ul li ul li a:hover { color: #463425 !important; text-decoration: underline !important; font: normal 11px Verdana, Arial, Helvetica, sans-serif !important; margin: 0px !important; padding: 0px !important; border: none !important; }

/* Bids Container */

#wp-bidcontainer { padding: 10px 0; height: 31px; background: #FF6500 url(gradient.png) repeat-x left bottom; border: 1px solid #463425; }
#wp-bidcontainerleft { float:left; width: 47%; text-align:center; color: #000; font-size: 11px;	padding: 2px 0 0 2px; }
#wp-bidcontainerright { float:right; width: 45%; text-align:center; margin-right: 5px; font-size: 13px; }
#wp-bidcontainerright a { color: #000 !important; text-decoration: none !important; }

/* Popup Earth Style
Style Name: Earth
Style URL: http://www.wpauctions.com/styles
Style Author: Hyder Jaffari
Author URL: http://www.weborithm.com
Get more styles at http://www.wpauctions.com/styles
Last Update: May 2nd, 2010
*/

/* Modal Box*/
.TB_modal { background: #fff; }

/* Container */
#wp-container-p { background: #FFF5EF; text-shadow: #FF6500 0 1px !important; }

#wp-container-p a { color: #000 !important; }
#wp-container-p a:hover, #wp-close-p:hover { color: #000 !important; }

#wp-container-p h2 { }
#wp-container-p h3 { color: #000; }

/* Header */
#wp-header-p { background: #FF6500 url(gradient.png) repeat-x left bottom; }
#wp-logo-p { }
#wp-close-p { color: #000; }
#wp-close-p img { }

/* Top Area */
#wp-top-p { border: 1px solid #e34600; }
#wp-content-p { }

/* Top Image */
.wpa-image { background: #FF6500 url(gradient.png) repeat-x left bottom; border-right: 1px solid #e34600; }
#wp-image-p { background: #fff; }
#wp_price { border-top: 1px solid #e34600; color: #000; }
#wp-refreshbid-p, #wp-refreshbid-p a { color: #463425 !important; text-shadow: #FF6500 0 1px !important; }

/* Description */
.wpa-description { background: #FFF5EF; border-right: 1px solid #e34600; text-shadow: none !important; }
h3#tc-heading-p {  }
#wp-description-p { }

/* Action List */
ul.wpa-details { background: #FF6500; margin: 0 !important; }
ul.wpa-details li { border-bottom: 1px solid #e34600; border-top: 1px solid #fff; text-shadow: #FF9A57 0 1px !important; }
ul.wpa-details li strong { }
ul.wpa-details div { line-height: 25px !important; padding: 0 5px !important; }

/* Bottom Area */
#wp-bottom-p { background: #FFF5EF !important; border: 1px solid #e34600; border-top: 0; }

/* Bid Area */
#wp-bottom-p h3 { background: #e34600; }
#wp-bottom-p h3 p { color: #000; }
#wp-bottom-p table { border-top: 1px solid #e34600; }
#wp-bottom-p table td { text-shadow: none !important; }
#wp-bottom-p table td p { }
#wp-bottom-p input { border: 1px solid #e34600; }
#wp-bottom-p input:focus { border-color: #FF6500; background: #fefdd9; }

/* Left */
#wp-left-p { border-right: 1px solid #e34600; }

/* Bid Now */
#wp-bid-p { border-top: 1px solid #e34600; }
#wp-bid-p table .wpa-currency { }
#wp-bid-p input { border: 1px solid #e34600; }
#wp-bid-p table td { }
p#bidnow { background: #FF6500 url(gradient.png) repeat-x left center; border: 1px solid #6C2100; }
p#bidnow a { color: #fff !important; }
p#bidnow a:hover {  }

#wp-extrainfo { }
#wp-extrainfo:before { }

/* Bids/Other Auctions */
.wpa-tabs { float: left; padding: 1px 0; width: 375px; text-shadow: none !important; }
	
ol.wp-detailsbidders-p { }
ol.wp-detailsbidders-p li { color: #463425; }
ol.wp-detailsbidders-p li:hover { color: #000; }
.pane-bids { }

/* Tabs */
.wpa-tabs { }
.wpa-tabs ul { }
	
.wpa-pane { border-top: 1px solid #e34600; }
.wpa-pane p { }

ul.wpatabs { background: #FF6500; border-bottom: 1px solid #fff; }
	
/* Single Tab */
ul.wpatabs li { background: #FF6500; border-left: 1px solid #fff; color: #ab3500; }
	
/* Tabs Link */
ul.wpatabs li:hover { color: #6c2100; }
ul.wpatabs a:active { }
ul.wpatabs a:hover { }

/* Current Tab */
ul.wpatabs li.current, ul.wpatabs li.current:hover, ul.wpatabs li.current { background: #e34600; color: #fff; }

/* Other Auctions */
.pane-other { }
ul#wp-othercontainer-p { }
ul#wp-othercontainer-p li { background: #fff; }
ul#wp-othercontainer-p li p { }
ul#wp-othercontainer-p li p.wpa-other-title { }
ul#wp-othercontainer-p li img { background: #fff; border: 1px solid #e34600; }
ul#wp-othercontainer-p li:hover { background: #FFE7D7; }

#wp-powered-p { color: #e34600; }
#wp-powered-p a { color: #e34600 !important; }

header { z-index: 0 !important; }