/* WP Auctions Graphite Style
Style Name: WPA
Style URL: http://www.wpauctions.com/styles
Style Author: Hyder Jaffari
Author URL: http://www.weborithm.com
Get more styles at http://www.wpauctions.com/styles
Last Update: June 12th, 2010
*/

/* Container */

#wp-container { font: normal 11px Verdana, Arial, Helvetica, sans-serif; color: #000; }

/* Main Body */

#wp-body { border-right: 1px solid #000; border-left: 1px solid #000; background: #fff; padding: 10px; }

/* Title */

#wp-head { font-size: 15px; font-weight: bold; text-align: center; border: 1px solid #000; border-bottom: 0; background: url(bg.png); padding: 10px; text-decoration: none; color: #fff; }

/* Image */

#wp-image { text-align:center; width: 125px; margin: 0 auto 10px; }
#wp-image img { width: 125px; height: 125px; border: 1px solid #000; background: #fff; padding: 1px; }
.wp-heading { font-weight: bold; font-size: 12px; text-align: center; padding: 4px 0; }

/* Auction Description */

#wp-desc { padding: 5px 0; }

/* RSS and 'more...' link */

.wp-more { font-style: italic; font-size: 10px; }
.wp-more a, .wp-rss a { text-decoration: none; color: #0066CC; }
.wp-more a:hover, .wp-rss a:hover {text-decoration: underline; color: #0090ff; }
.wp-rss { text-align: center; }

/* Date */

#wp-date { text-align: center; padding: 5px 0; }

/* Other Auctions - This stuff is !IMPORTANT */

#wp-other { padding: 5px 0; }
#wp-other ul, #wp-other ul li ul { padding: 5px 0 5px 10px !important; margin: 5px 0px 10px !important; border-top: 1px dotted #000 !important; border-bottom: 1px dotted #000 !important; background: none !important; list-style: none !important; }
#wp-other ul li, #wp-other ul li ul li { padding: 1px 0 !important; margin: 0 !important; border: none !important; background: none !important; list-style: none !important; }
#wp-other ul li a, #wp-other ul li ul li a { color: #0066CC !important; text-decoration: none !important; font: normal 11px Verdana, Arial, Helvetica, sans-serif !important; background: none !important; margin: 0px !important; padding: 0px !important; border: none !important; list-style: none !important; }
#wp-other ul li a:hover, #wp-other ul li ul li a:hover { color: #0090ff !important; text-decoration: underline !important; font: normal 11px Verdana, Arial, Helvetica, sans-serif !important; margin: 0px !important; padding: 0px !important; border: none !important; }

/* Bids Container */

#wp-bidcontainer { padding: 10px 7px 10px 0; height: 31px; background: url(bg.png) repeat left bottom; border: 1px solid #000; }
#wp-bidcontainerleft { float:left; width: 47%; text-align:center; color: #fff; font-size: 11px;	padding: 2px 0 0 2px; }
#wp-bidcontainerright { float:right; width: 45%; text-align:center; margin-right: 5px; font-size: 13px; }
#wp-bidcontainerright a { color: #fff !important; text-decoration: none !important; }

/* List Styling */

.wp-auction-hold { min-height: 57px; padding-top: 5px; }
.wp-body-list { border-right: 1px solid #000; border-left: 1px solid #000; background: #fff; padding: 6px 4px 4px; border-bottom: 1px solid #000; }
.wp-head-list { font-size: 15px; font-weight: bold; text-align: center; border-right: 1px solid #000; border-left: 1px solid #000; background: url(bg.png) repeat; padding: 4px; border-top: 1px solid #000; text-decoration: none; color: #fff; margin: 0px; }
.wp-heading-list { font-weight: bold; font-size: 12px; text-align: left; padding: 0; }
.wp-desc-list {	padding: 4px 0;	margin: 0px; }
.wp-desc-list ul { padding: 0 !important; }
.wp-desc-list p { padding: 0; }
.wp-bidnow-list { text-align: center; padding: 4px 0; border-bottom: 1px solid #000; border-top: 1px solid #000; margin: 0px 0px 6px; background: #000 url(bg.png) repeat-x left bottom; color: #fff; }
.wp-bidnow-list a { text-decoration: none !important; color: #eee !important; border: none !important; }
.wp-bidnow-list a:hover { color: #0090ff !important; text-decoration: underline !important; }

/* Popup Default Style
Style Name: Default
Style URL: http://www.wpauctions.com/styles
Style Author: Hyder Jaffari
Author URL: http://www.weborithm.com
Get more styles at http://www.wpauctions.com/styles
Last Update: May 2nd, 2010
*/

/* Modal Box*/
#TB_window { border-color: #000; }
.TB_modal { background: url(bg.png); }

/* Container */
#wp-container-p { background: #111; text-shadow: none !important; }

#wp-container-p a { color: #eee !important; }
#wp-container-p a:hover, #wp-close-p:hover { color: #0090ff !important; }

#wp-container-p h2 { color: #eee; }
#wp-container-p h3 { color: #eee; }

/* Header */
#wp-header-p { background: #000 url(bg.png) repeat left bottom; border: 1px solid #333; border-bottom: 0; }
#wp-logo-p { }
#wp-close-p { color: #eee; }
#wp-close-p img { }

/* Top Area */
#wp-top-p { border: 1px solid #333; }
#wp-content-p { background: #111; }
/* Top Image */
.wpa-image { background: url(bg.png) repeat left bottom; border-right: 1px solid #333; }
#wp-image-p { background: #fff; }
#wp_price { border-top: 1px solid #000; color: #eee; }
#wp-refreshbid-p, #wp-refreshbid-p a { color: #999 !important; }

/* Description */
.wpa-description { background: #fff; border-right: 1px solid #000; }
h3#tc-heading-p { color: #111; padding: 0 0 5px !important; }
#wp-description-p { }

/* Action List */
ul.wpa-details { background: #212121; color: #eee; margin: 0; }
ul.wpa-details li { border-bottom: 1px solid #000; }
ul.wpa-details li strong { }
ul.wpa-details div { border-top: 1px solid #323232; line-height: 25px !important; padding: 0 5px !important; }

#TB_window #wp_winningb img { background: #fff; border: 1px solid #111; margin: 0 5px 0 0 !important; }
#wp_winningb a { color: #0090ff !important; }
#wp_winningb a:hover { color: #fff !important; }

a.wpa-bin-price { background: url(bg.png) repeat; border: 1px solid #212121; }

/* Bottom Area */
#wp-bottom-p { border: 1px solid #333; border-top: 0; }

/* Bid Area */
#wp-bottom-p h3 { background: url(bg.png); }
#wp-bottom-p h3 p { color: #999; }
#wp-bottom-p table { border-top: 1px solid #212121; }
#wp-bottom-p table td { color: #fff; }
#wp-bottom-p table td p { color: #fff; }
#wp-bottom-p input { background: #ccc; border: 1px solid #000; }
#wp-bottom-p input:focus { border-color: #000; background: #fefdd9; }
#wp-bin-manip { font-size: 11px; }

/* Left */
#wp-left-p { border-right: 1px solid #333; }

/* Bid Now */
#wp-bid-p { border-top: 1px solid #333; }
#wp-bid-p table .wpa-currency { }
#wp-bid-p input { border: 1px solid #000; }
#wp-bid-p table td { }
p#bidnow { background: #ccc; border: 1px solid #000; }
p#bidnow a { color: #000 !important; }

#wp-extrainfo { }
#wp-extrainfo:before { }

/* Bids/Other Auctions */
.wpa-tabs { background: #111; float: left; padding: 1px 0; width: 375px; }
	
ol.wp-detailsbidders-p { }
ol.wp-detailsbidders-p li { color: #999; }
ol.wp-detailsbidders-p li:hover { color: #bbb; }
.pane-bids { }

/* Tabs */
.wpa-tabs { }
.wpa-tabs ul { }
	
.wpa-pane { background: #111; border-top: 1px solid #333; color: #eee; }
.wpa-pane p { color: #eee; }

ul.wpatabs { background: url(bg.png); border-bottom: 1px solid #000; }
	
/* Single Tab */
ul.wpatabs li { background: #212121; border-left: 1px solid #000; color: #999; }
	
/* Tabs Link */
ul.wpatabs li:hover { background: #212121; color: #fff; }
ul.wpatabs a:active { }
ul.wpatabs a:hover { background: #000; }

/* Current Tab */
ul.wpatabs li.current, ul.wpatabs li.current:hover, ul.wpatabs li.current { background: #000; color: #fff; }

/* Other Auctions */
.pane-other { }
ul#wp-othercontainer-p { }
ul#wp-othercontainer-p li { background: #000; }
ul#wp-othercontainer-p li p { }
ul#wp-othercontainer-p li p.wpa-other-title { }
#TB_window ul#wp-othercontainer-p li img { background: #000; border: 1px solid #ccc; margin: 0 10px 0 0 !important; }
ul#wp-othercontainer-p li:hover { background: #212121; }

#wp-powered-p { color: #333; }
#wp-powered-p a { color: #333 !important; }

/* AUCTION IN A POST */

.wpauction { background: #fff !important; border-top: 1px solid #000 !important; color: #111 !important; font: normal 11px Verdana !important; padding-bottom: 15px !important; }
.wpauction a { color: #0066FF !important; }
.wpauction a:hover { color: #0090FF !important; text-decoration: none !important; }
.wpauction h3, .wpauction h6 { font: normal 17px Verdana !important; text-align: center !important; padding: 5px !important; margin: 0 !important; text-transform: capitalize !important; }

/* Headings */

.wpauction h3 { background: url(bg.png); border-bottom: 1px solid #000 !important; color: #fff; margin-bottom: 15px !important; }

/* Images */
	
.auctionimages { padding: 5px !important; margin-bottom: 5px !important; text-align: center !important; }
.auctionimages img { background: #fff !important; border: 1px solid #000 !important; display: inline !important; margin: 0 10px !important; padding: 1px !important; }

/* Description */

.auctiondescription { /* custom styles can come here */ padding: 5px 5px 0; !important; }
.auctiondescription p { color: #000 !important; font-size: 13px !important; padding: 0 0 10px !important; }
.auctiondescription ul { background: none !important; border: 0 !important; list-style: disc !important; margin: 0 0 10px 20px !important; }
.auctiondescription ul li { background: none !important; border: 0 !important; font-size: 13px !important; margin: 0 !important; padding: 5px 0 !important; }
.auctiondescription ol { margin: 0 0 10px 20px !important; }

p.current-bid, p.refresh { background: url(bg.png) !important; text-align: center !important; font-size: 17px !important; color: #fff !important; padding: 5px !important; margin: 0 !important; border-bottom: 0 !important; }
p.refresh { background: none !important; font-size: 11px !important; margin-bottom: 0 !important; padding: 5px 5px 10px !important; }
p.refresh a { color: #999 !important; }
p.current-bid:hover, p.refresh:hover { cursor: default !important; }
		
/* Details */
	
.auctiondetails { /* custom styles come here */ }
.auctiondetails h6 { background: url(bg.png) !important; border: 0 !important; border-bottom: 1px solid #000 !important; color: #eee !important; margin: 10px 0 !important; }
.auctiondetails ul { background: none !important; border: 0 !important; list-style: disc !important; padding: 0 !important; margin: 0 25px !important; }
.auctiondetails ol { background: none !important; border: 0 !important; padding: 0 !important; margin: 0 0 0 35px !important; }
.auctiondetails li { background: none !important; border: 0 !important; font-size: 13px !important; padding: 0 0 15px !important; margin: 0 !important; }
.auctiondetails ol li { list-style: decimal !important; }
		
/* Fields and Buttons */
	
.bid-input { width: 14em !important; padding: 5px!important; font-size: 0.9em !important; border: 1px solid #999 !important; letter-spacing: 1px !important; }
.bid-input[type="text"]:focus{ border: 1px solid #000 !important; }
.auction-button { padding: 0.3em 1em !important; font: normal 1em Georgia !important; background: url(bg.png) !important; border: 1px solid #000 !important; color: #eee !important; width: 13.1em !important; }
.auction-button:hover { cursor: pointer !important; color: #fff !important; }

/* Tables */

.auctiontables { background: #fff !important; border-top: 0 !important; margin: 0 !important; }
.auctiontables h6 { background: url(bg.png) !important; border: 0 !important; color: #eee !important; margin: 0 0 10px 0 !important; }
.auctiontables p { border-top: 1px solid #eee !important; color: #eee; padding: 10px !important; font-size: 11px !important; font-style: italic !important; margin: 0 !important; }
.auctiontables span { font-size: 11pxem !important; text-align: center !important; display: block !important; padding: 0 0 5px !important; }
.auctiontables table { background: #fff !important; margin: 0; padding: 0 !important; border: 0 !important; }
.auctiontables td { color: #111 !important; padding: 10px !important; border: 0 !important; border-bottom: 1px solid #eee !important; border-top: 1px solid #eee !important; text-align: left !important; font-size: 12px !important; }

/* Post/Page Tables */

.wpa-tables { border: 1px solid #000; font-size: 12px !important; width: 100%; }
.wpa-tables th { background: url(bg.png); border: 1px solid #000; color: #fff; font-size: 13px; padding: 5px !important; }
.wpa-tables td { border: 0; border-bottom: 1px solid #000; padding: 5px !important; }
.wpa-tables td img { background: url(bg.png); display: block; margin: auto; padding: 5px; }
.wpa-tables td a { background: url(bg.png); border: 1px solid #000; color: #0090ff; font-weight: bold; padding: 2px 8px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.wpa-tables td a:hover { color: #fff; }


/* Theme Specific */
form#auction_form, form#auction_form div, #wp-container-p p  { margin: 0; }
#wp-container-p th, #wp-container-p td, #wp-container-p table { border: 0; }