/* WP Auctions Default Style
Style Name: WPA
Style URL: http://www.wpauctions.com/styles
Style Author: Hyder Jaffari
Author URL: http://www.weborithm.com
Get more styles at http://www.wpauctions.com/styles
Last Update: June 21st, 2009
*/

/* Container */

#wp-container {	font: normal 11px Verdana, Arial, Helvetica, sans-serif; color: #000; }

/* Main Body */

#wp-body { border-right: 1px solid #999; border-left: 1px solid #999; background: #fff; padding: 10px; }

/* Title */

#wp-head { font-size: 15px; font-weight: bold; text-align: center; border: 1px solid #999; border-bottom: none; background: #fff; padding: 10px; text-decoration: none; color: #0066CC; }

/* Image */

#wp-image { text-align:center; width: 125px; margin: 0 auto 10px; }
#wp-image img { width: 125px; height: 125px; border: 1px solid #ccc; background: #fff; padding: 1px; }
.wp-heading { font-weight: bold; font-size: 12px; text-align: center; padding: 4px 0; }

/* Auction Description */

#wp-desc { padding: 5px 0; }

/* RSS and 'more...' link */

.wp-more { font-style: italic; font-size: 10px; }
.wp-more a, .wp-rss a { text-decoration: none; color: #0066CC; }
.wp-more a:hover, .wp-rss a:hover {	text-decoration: underline;	color: #5faaef; }
.wp-rss { text-align: center; }

/* Date */

#wp-date { text-align: center; padding: 5px 0; }

/* Other Auctions - This stuff is !IMPORTANT */

#wp-other {	padding: 5px 0; }
#wp-other ul, #wp-other ul li ul { padding: 5px 0 5px 10px!important; margin: 5px 0px 10px !important; border-top: 1px dotted #ccc !important;	border-bottom: 1px dotted #ccc !important; background: none !important; list-style: none !important; }
#wp-other ul li, #wp-other ul li ul li { padding: 1px 0 !important; margin: 0 !important; border: none !important; background:none !important; list-style: none !important; }
#wp-other ul li a, #wp-other ul li ul li a { color: #0066CC !important; text-decoration: none !important; font: normal 11px Verdana, Arial, Helvetica, sans-serif !important; background: none !important; margin: 0px !important; padding: 0px !important; border: none !important; list-style: none !important; }
#wp-other ul li a:hover, #wp-other ul li ul li a:hover { color: #5faaef !important; text-decoration: underline !important; font: normal 11px Verdana, Arial, Helvetica, sans-serif !important; margin: 0px !important; padding: 0px !important; border: none !important; }

/* Bids Container */

#wp-bidcontainer { padding: 10px 0; height: 31px; background: #fff url(../../requisites/gradient.gif) repeat-x left bottom; border: 1px solid #333; }
#wp-bidcontainerleft { float:left; width: 47%; text-align:center; color: #333; font-size: 11px;	padding: 2px 0 0 2px; }
#wp-bidcontainerright { float:right; width: 45%; text-align:center; margin-right: 5px; font-size: 13px; }
#wp-bidcontainerright a { color: #000 !important; text-decoration: none !important; }

/* 

POPUP DEFAULT STYLE

*/

/* Modal Box*/
.TB_modal { background: #eee; }

/* Container */
#wp-container-p { background: #fff; text-shadow: #fff 0 1px; }

#wp-container-p a { color: #0099cc !important; }
#wp-container-p a:hover, #wp-close-p:hover { color: #333 !important; }

#wp-container-p h2 { }
#wp-container-p h3 { }

/* Header */
#wp-header-p { background: #fff url(../../requisites/gradient.gif) repeat-x left bottom; }
#wp-logo-p { }
#wp-close-p { color: #660000; }
#wp-close-p img { }

/* Top Area */
#wp-top-p { border: 1px solid #ccc; }
#wp-content-p { }
/* Top Image */
.wpa-image { background: #fff url(../../requisites/gradient.gif) repeat-x left bottom; border-right: 1px solid #ccc; }
#wp-image-p { }
#wp_price { border-top: 1px solid #ccc; color: #000; }
#wp-refreshbid-p, #wp-refreshbid-p a { color: #999 !important; text-shadow: #fff 0 1px; }

/* Description */
.wpa-description { background: #fff; border-right: 1px solid #ccc; }
h3#tc-heading-p {  }
#wp-description-p { }

/* Action List */
ul.wpa-details { background: #f3f3f3; margin: 0 !important; }
ul.wpa-details li { border-bottom: 1px solid #ccc; border-top: 1px solid #fff; }
ul.wpa-details li strong { }
ul.wpa-details div { border-top: 1px solid #fff; line-height: 25px !important; padding: 0 5px !important; }

/* Bottom Area */
#wp-bottom-p { border: 1px solid #ccc; border-top: 0; }

/* Bid Area */
#wp-bottom-p h3 { background: #e9e9e9; }
#wp-bottom-p h3 p { color: #777; }
#wp-bottom-p table { border-top: 1px solid #ccc; }
#wp-bottom-p table td { }
#wp-bottom-p table td p { }
#wp-bottom-p input { border: 1px solid #ccc; }
#wp-bottom-p input:focus { border-color: #aaa; background: #fefdd9; }

/* Left */
#wp-left-p { border-right: 1px solid #ccc; }

/* Bid Now */
#wp-bid-p { border-top: 1px solid #ccc; }
#wp-bid-p table .wpa-currency { }
#wp-bid-p input { border: 1px solid #ccc; }
#wp-bid-p table td { }
p#bidnow { background: #fff url(../../requisites/gradient.gif) repeat-x left bottom; border: 1px solid #aaa; }
p#bidnow a { color: #000 !important; }

#wp-extrainfo { }
#wp-extrainfo:before { }

/* Bids/Other Auctions */
.wpa-tabs { background: #fff; float: left; padding: 1px 0; width: 375px; }
	
ol.wp-detailsbidders-p { }
ol.wp-detailsbidders-p li { color: #333; }
ol.wp-detailsbidders-p li:hover { color: #000; }
.pane-bids { }

/* Tabs */
.wpa-tabs { }
.wpa-tabs ul { }
	
.wpa-pane { background: #fff; border-top: 1px solid #ccc; }
.wpa-pane p { }

ul.wpatabs { background: #e9e9e9; border-bottom: 1px solid #fff; }
	
/* Single Tab */
ul.wpatabs li { background: #e9e9e9; border-left: 1px solid #fff; color: #999; }
	
/* Tabs Link */
ul.wpatabs li:hover { background: #ccc; color: #000; }
ul.wpatabs a:active { }
ul.wpatabs a:hover { background: #ddd; }

/* Current Tab */
ul.wpatabs li.current, ul.wpatabs li.current:hover, ul.wpatabs li.current { background: #ccc; color: #000; }

/* Other Auctions */
.pane-other { }
ul#wp-othercontainer-p { }
ul#wp-othercontainer-p li { background: #fff; }
ul#wp-othercontainer-p li p { }
ul#wp-othercontainer-p li p.wpa-other-title { }
ul#wp-othercontainer-p li img { background: #fff; border: 1px solid #ccc; }
ul#wp-othercontainer-p li:hover { background: #f9f9f9; }

#wp-powered-p { color: #ccc; }
#wp-powered-p a { color: #ccc !important; }