/* WP Auctions Default Style

Style Name: Dawn

Style URL: http://www.wpauctions.com/styles/dawn

Style Author: Hyder Jaffari

Author URL: http://www.weborithm.com

Get more styles at http://www.wpauctions.com/styles

Last Update: February 12th, 2008

*/

/* Container */

#wp-container {
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}

/* Main Body */

#wp-body {
	border-right: 2px solid #303030;
	border-left: 2px solid #303030;
	background: #fff;
	padding: 4px;
}

/* Title */

#wp-head {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	border-right: 2px solid #303030;
	border-left: 2px solid #303030;
	background: #fff;
	padding: 4px;
	border-top: 2px solid #303030;
}

/* Image */

#wp-image {
	text-align:center;
	width: 125px;
	margin: 2px auto;
}
#wp-image img{
	width: 125px;
	height: 125px;
	border: none;
}

/* Headings */

.wp-title {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	border-right: 2px solid #303030;
	border-left: 2px solid #303030;
	background: #fff;
	padding: 0 4px;
}
.wp-heading{
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding: 4px 0;
}

/* Auction Description */

#wp-desc{
	padding: 4px 0;
}

/* RSS and 'more...' link */

.wp-more{
	font-style: italic;
	font-size: 10px;
}
.wp-more a, .wp-rss a{
	text-decoration: none;
	color: #0066CC;	
}
.wp-more a:hover, .wp-rss a:hover {
	text-decoration: underline;
	color: #5faaef;
}
.wp-rss {
	text-align: center;
}

/* Date */

#wp-date {
	text-align: center;
	padding: 4px 0;
}

/* Other Auctions - This stuff is !IMPORTANT */

#wp-other {
	padding: 4px 0;
}
#wp-other ul, #wp-other ul li ul {
	padding: 5px 0 5px 20px !important;
	margin: 5px 10px 10px !important;
	border-top: 1px dotted #ccc !important;
	border-bottom: 1px dotted #ccc !important;
	background: transparent url(none) !important;
	list-style: none !important;
}
#wp-other ul li, #wp-other ul li ul li {
	padding: 1px 0 !important;
	margin: 0 !important;
	border: none !important;
	background:none !important;
	list-style: none !important;
}
#wp-other ul li a, #wp-other ul li ul li a {
	color: #0066CC !important;
	text-decoration: none !important;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif !important;
	background: transparent url(none) !important;
	margin: 0px !important;
	padding: 0px !important;
	border: none !important;
	list-style: none !important;
}
#wp-other ul li a:hover, #wp-other ul li ul li a:hover {
	color: #5faaef !important;
	text-decoration: underline !important;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif !important;
	margin: 0px !important;
	padding: 0px !important;
	border: none !important;
}

/* Bids Container */

#wp-bidcontainer {
	padding: 4px 0;
	height: 31px;
	background: url(images/bottom.png) repeat-x;
	border: 2px solid #303030;
}
#wp-bidcontainerleft {
	float:left;
	width: 47%;
	text-align:center;
	color: #FFF;
	font-size: 11px;
	padding: 2px 0 0 2px;
}
#wp-bidcontainerright {
	float:right;
	width: 50%;
	text-align:center;
	padding: 0;
}

/* You CANNOT remove the below ID's */

#wp-powered{
	width: 150px;
	height: 16px;
	text-align: center;
	background: url(images/powered.png) no-repeat center center !important;
	padding: 1px 0 0;
	font-size: 9px;
	color: #303030;
	margin: auto;
}
#wp-powered a {
	text-decoration: none;
	font-size: 9px;
	color: #303030;
}
#wp-powered a:hover {
	color: #0066CC;
}

/* End ID's here */
